USE [master]
GO
/****** Object:  Database [ANALYS_SYSTEM_DB]    Script Date: 09.04.2025 15:28:04 ******/
CREATE DATABASE [ANALYS_SYSTEM_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ANALYS_SYSTEM_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ANALYS_SYSTEM_DB.mdf' , SIZE = 69632KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ANALYS_SYSTEM_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ANALYS_SYSTEM_DB_log.ldf' , SIZE = 23552KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ANALYS_SYSTEM_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ANALYS_SYSTEM_DB]
GO
USE [ANALYS_SYSTEM_DB]
GO
/****** Object:  Table [dbo].[Change_History]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Change_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Change_Date] [datetime] NULL,
	[Old_Value] [nvarchar](max) NULL,
	[New_Value] [nvarchar](max) NULL,
	[Reason] [nvarchar](255) NULL,
	[User_ID] [int] NULL,
	[Document_ID] [int] NULL,
 CONSTRAINT [PK_Change_History] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Data_Source]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data_Source](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Data_Source] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Name] [nvarchar](100) NULL,
	[Status_ID] [int] NULL,
	[Type_ID] [int] NULL,
	[Provider_ID] [int] NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document_Status]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Document_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document_Struct]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_Struct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Attributes_List] [nvarchar](max) NULL,
	[Creation_Date] [datetime] NULL,
	[Type_ID] [int] NULL,
 CONSTRAINT [PK_Document_Struct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document_Type]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Document_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Load_History]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Load_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Source_File_Name] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
	[User_ID] [int] NULL,
	[Document_ID] [int] NULL,
	[Data_Source_ID] [int] NULL,
 CONSTRAINT [PK_Load_History] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_History]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[User_ID] [int] NULL,
	[Login_Status_ID] [int] NULL,
 CONSTRAINT [PK_Login_History] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_Status]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Login_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News_Change_History]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News_Change_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[News_ID] [int] NULL,
	[Old_Value] [nvarchar](max) NULL,
	[New_Value] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_News_Change_History] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisation_News]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation_News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Creation_Date] [datetime] NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK_Organisation_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisation_Type]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation_Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Organisation_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Organisation_Type_ID] [int] NULL,
	[Owner] [nvarchar](150) NULL,
	[Location] [nvarchar](250) NULL,
	[Creation_Date] [date] NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider_Change_Story]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider_Change_Story](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[Provider_ID] [int] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Provider_Change_Story] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration_Request]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration_Request](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Surname] [nvarchar](100) NULL,
	[Lastname] [nvarchar](100) NULL,
	[Login] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[Creation_Date] [datetime] NULL,
	[Request_Status_ID] [int] NULL,
	[Role_ID] [int] NULL,
	[Birth] [date] NULL,
 CONSTRAINT [PK_Registration_Request] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Creation_Date] [datetime] NULL,
	[Document_ID] [int] NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Decline]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Decline](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Registration_Request_ID] [int] NULL,
	[Decline_Reason] [nvarchar](max) NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK_Request_Decline] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Status]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Request_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Surname] [nvarchar](100) NULL,
	[Lastname] [nvarchar](100) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Creation_date] [datetime] NULL,
	[Role_ID] [int] NULL,
	[User_Status_ID] [int] NULL,
	[Birth] [date] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Status]    Script Date: 09.04.2025 15:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_User_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Change_History] ON 

INSERT [dbo].[Change_History] ([ID], [Change_Date], [Old_Value], [New_Value], [Reason], [User_ID], [Document_ID]) VALUES (1, CAST(N'2025-04-01T14:16:56.797' AS DateTime), N'Активный', N'Выведен из общего доступа', N'Тестирование функционала изменения статуса документа', 1, 2)
INSERT [dbo].[Change_History] ([ID], [Change_Date], [Old_Value], [New_Value], [Reason], [User_ID], [Document_ID]) VALUES (2, CAST(N'2025-04-01T14:47:27.440' AS DateTime), N'Выведен из общего доступа', N'Требует правок', N'Просто тестирование', 1, 2)
SET IDENTITY_INSERT [dbo].[Change_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Data_Source] ON 

INSERT [dbo].[Data_Source] ([ID], [Name]) VALUES (1, N'Excel')
INSERT [dbo].[Data_Source] ([ID], [Name]) VALUES (2, N'CSV')
SET IDENTITY_INSERT [dbo].[Data_Source] OFF
GO
SET IDENTITY_INSERT [dbo].[Document] ON 

INSERT [dbo].[Document] ([ID], [Date], [Name], [Status_ID], [Type_ID], [Provider_ID]) VALUES (1, CAST(N'2025-03-25T12:05:55.623' AS DateTime), N'users.xlsx', 1, 1, 1)
INSERT [dbo].[Document] ([ID], [Date], [Name], [Status_ID], [Type_ID], [Provider_ID]) VALUES (2, CAST(N'2025-03-25T14:04:24.817' AS DateTime), N'komus_opt_price_7.csv', 2, 2, 2)
INSERT [dbo].[Document] ([ID], [Date], [Name], [Status_ID], [Type_ID], [Provider_ID]) VALUES (3, CAST(N'2025-04-01T14:42:38.557' AS DateTime), N'komus_opt_price_7(2).csv', 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Document] OFF
GO
SET IDENTITY_INSERT [dbo].[Document_Status] ON 

INSERT [dbo].[Document_Status] ([ID], [Name]) VALUES (1, N'Активный')
INSERT [dbo].[Document_Status] ([ID], [Name]) VALUES (2, N'Требует правок')
INSERT [dbo].[Document_Status] ([ID], [Name]) VALUES (3, N'Изменен')
SET IDENTITY_INSERT [dbo].[Document_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Document_Struct] ON 

INSERT [dbo].[Document_Struct] ([ID], [Name], [Description], [Attributes_List], [Creation_Date], [Type_ID]) VALUES (1, N'Содержание файла списка сотрудников', N'Файл должен содержать структуру исключительно личной информации о сотрудниках организации', N'["ФИО", "Телефон", "Адрес", "Серия паспорта", "Номер паспорта"]', CAST(N'2025-03-24T15:07:00.000' AS DateTime), 1)
INSERT [dbo].[Document_Struct] ([ID], [Name], [Description], [Attributes_List], [Creation_Date], [Type_ID]) VALUES (3, N'Тестовая структура данных', N'Исключительно тестовая структура для понимания работоспособности функции', N'["Ключ", "Название"]', CAST(N'2025-04-03T12:54:53.493' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Document_Struct] OFF
GO
SET IDENTITY_INSERT [dbo].[Document_Type] ON 

INSERT [dbo].[Document_Type] ([ID], [Name]) VALUES (1, N'Список сотрудников')
INSERT [dbo].[Document_Type] ([ID], [Name]) VALUES (2, N'Оптовые закупки komus')
INSERT [dbo].[Document_Type] ([ID], [Name]) VALUES (3, N'Тестовый тип')
SET IDENTITY_INSERT [dbo].[Document_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Load_History] ON 

INSERT [dbo].[Load_History] ([ID], [Source_File_Name], [Date], [User_ID], [Document_ID], [Data_Source_ID]) VALUES (1, N'C:\Users\kvi\Downloads\users.xlsx', CAST(N'2025-03-25T12:05:55.663' AS DateTime), 2, 1, 1)
INSERT [dbo].[Load_History] ([ID], [Source_File_Name], [Date], [User_ID], [Document_ID], [Data_Source_ID]) VALUES (2, N'C:\Users\kvi\Downloads\komus_opt_price_7.csv', CAST(N'2025-03-25T14:04:24.843' AS DateTime), 2, 2, 2)
INSERT [dbo].[Load_History] ([ID], [Source_File_Name], [Date], [User_ID], [Document_ID], [Data_Source_ID]) VALUES (3, N'C:\Users\kvi\Downloads\komus_opt_price_7(2).csv', CAST(N'2025-04-01T14:42:38.580' AS DateTime), 2, 3, 2)
SET IDENTITY_INSERT [dbo].[Load_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Login_History] ON 

INSERT [dbo].[Login_History] ([ID], [Date], [User_ID], [Login_Status_ID]) VALUES (50, CAST(N'2025-03-21T11:51:20.897' AS DateTime), 2, 2)
INSERT [dbo].[Login_History] ([ID], [Date], [User_ID], [Login_Status_ID]) VALUES (51, CAST(N'2025-03-21T11:51:24.323' AS DateTime), 2, 1)
INSERT [dbo].[Login_History] ([ID], [Date], [User_ID], [Login_Status_ID]) VALUES (52, CAST(N'2025-03-21T11:51:41.677' AS DateTime), 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Login_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Login_Status] ON 

INSERT [dbo].[Login_Status] ([ID], [Name]) VALUES (1, N'Успешно')
INSERT [dbo].[Login_Status] ([ID], [Name]) VALUES (2, N'Неверный логин или пароль')
INSERT [dbo].[Login_Status] ([ID], [Name]) VALUES (3, N'Учетная запись заблокирована')
SET IDENTITY_INSERT [dbo].[Login_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[News_Change_History] ON 

INSERT [dbo].[News_Change_History] ([ID], [User_ID], [News_ID], [Old_Value], [New_Value], [Date]) VALUES (1, 2, 2, N'Требуется проверить возможность автоматического добавления новостей в список, заодно напишу новость подлиннее, чтобы наверняка узнать границы контейнера', N'Требуется проверить возможность автоматического добавления новостей в список, заодно напишу новость подлиннее, чтобы наверняка узнать границы контейнера.', CAST(N'2025-03-24T11:27:56.667' AS DateTime))
INSERT [dbo].[News_Change_History] ([ID], [User_ID], [News_ID], [Old_Value], [New_Value], [Date]) VALUES (2, 2, 2, N'Тестовая новось', N'Тестовая новость', CAST(N'2025-03-24T11:48:01.913' AS DateTime))
INSERT [dbo].[News_Change_History] ([ID], [User_ID], [News_ID], [Old_Value], [New_Value], [Date]) VALUES (3, 2, 1, N'Создание приложения', N'Создание приложения!', CAST(N'2025-03-24T11:48:46.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[News_Change_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Organisation_News] ON 

INSERT [dbo].[Organisation_News] ([ID], [Name], [Description], [Creation_Date], [User_ID]) VALUES (1, N'Создание приложения', N'Добро пожаловать! Это только начало разработки, но уже видны некоторые результаты.', CAST(N'2025-03-18T13:12:53.683' AS DateTime), 1)
INSERT [dbo].[Organisation_News] ([ID], [Name], [Description], [Creation_Date], [User_ID]) VALUES (2, N'Тестовая новость', N'Требуется проверить возможность автоматического добавления новостей в список, заодно напишу новость подлиннее, чтобы наверняка узнать границы контейнера.', CAST(N'2025-03-19T15:00:00.000' AS DateTime), 1)
INSERT [dbo].[Organisation_News] ([ID], [Name], [Description], [Creation_Date], [User_ID]) VALUES (1002, N'Проверка работоспособности', N'Проверяем работоспособность новой функции создания новостей у репортера', CAST(N'2025-03-24T11:58:55.587' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Organisation_News] OFF
GO
SET IDENTITY_INSERT [dbo].[Organisation_Type] ON 

INSERT [dbo].[Organisation_Type] ([ID], [Name]) VALUES (1, N'ООО')
INSERT [dbo].[Organisation_Type] ([ID], [Name]) VALUES (2, N'ОАО')
INSERT [dbo].[Organisation_Type] ([ID], [Name]) VALUES (3, N'АО')
SET IDENTITY_INSERT [dbo].[Organisation_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Provider] ON 

INSERT [dbo].[Provider] ([ID], [Name], [Organisation_Type_ID], [Owner], [Location], [Creation_Date]) VALUES (1, N'Тестовая организация', 1, N'Тест редактирования', N'Тест', NULL)
INSERT [dbo].[Provider] ([ID], [Name], [Organisation_Type_ID], [Owner], [Location], [Creation_Date]) VALUES (2, N'Новая организация', 4, N'Тест', N'г. Пермь, ул. Байкальская, д. 7А', CAST(N'2025-04-07' AS Date))
INSERT [dbo].[Provider] ([ID], [Name], [Organisation_Type_ID], [Owner], [Location], [Creation_Date]) VALUES (3, N'РИО Софт', 1, N'Юрченко Артем', N'г. Пермь ул. Стахановская, д. 54 П', CAST(N'2025-04-09' AS Date))
SET IDENTITY_INSERT [dbo].[Provider] OFF
GO
SET IDENTITY_INSERT [dbo].[Provider_Change_Story] ON 

INSERT [dbo].[Provider_Change_Story] ([ID], [User_ID], [Provider_ID], [Date]) VALUES (1, 1, 1, CAST(N'2025-04-07T13:09:25.947' AS DateTime))
INSERT [dbo].[Provider_Change_Story] ([ID], [User_ID], [Provider_ID], [Date]) VALUES (2, 1, 2, CAST(N'2025-04-07T13:10:07.250' AS DateTime))
INSERT [dbo].[Provider_Change_Story] ([ID], [User_ID], [Provider_ID], [Date]) VALUES (3, 1, 2, CAST(N'2025-04-09T14:46:28.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[Provider_Change_Story] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration_Request] ON 

INSERT [dbo].[Registration_Request] ([ID], [Name], [Surname], [Lastname], [Login], [Password], [Creation_Date], [Request_Status_ID], [Role_ID], [Birth]) VALUES (1, N'Владислав', N'Кузнецов', N'Игоревич', N'Armoryx', N'S+P4YCWsU/f+Kxf7E3Y73ewZlx/us+2B4wTn7zuz0lQ=', CAST(N'2025-03-18T13:12:53.683' AS DateTime), 3, 1, NULL)
INSERT [dbo].[Registration_Request] ([ID], [Name], [Surname], [Lastname], [Login], [Password], [Creation_Date], [Request_Status_ID], [Role_ID], [Birth]) VALUES (3, N'Антон', N'Антонов', N'Антонович', N'Anton', N'QpcsGz6Fz9CGYo5hd9I6CgVxMvtviX1Y2YeZXUQqzmk=', CAST(N'2025-03-20T12:02:03.683' AS DateTime), 3, 1, CAST(N'1994-06-07' AS Date))
INSERT [dbo].[Registration_Request] ([ID], [Name], [Surname], [Lastname], [Login], [Password], [Creation_Date], [Request_Status_ID], [Role_ID], [Birth]) VALUES (4, N'Дмитрий', N'Дмитриев', N'Дмитриевич', N'Dmitriy', N'z5xeNsrTwk/48GrFLRaKVP7fsc0nIynNXzEszlMeElg=', CAST(N'2025-03-20T12:02:59.647' AS DateTime), 4, 1, CAST(N'1989-12-14' AS Date))
SET IDENTITY_INSERT [dbo].[Registration_Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ID], [Creation_Date], [Document_ID], [User_ID]) VALUES (1, CAST(N'2025-04-01T12:52:41.310' AS DateTime), 2, 2)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Request_Decline] ON 

INSERT [dbo].[Request_Decline] ([ID], [Registration_Request_ID], [Decline_Reason], [User_ID]) VALUES (1, 4, N'Тестовое отклонение заявки', 1)
SET IDENTITY_INSERT [dbo].[Request_Decline] OFF
GO
SET IDENTITY_INSERT [dbo].[Request_Status] ON 

INSERT [dbo].[Request_Status] ([ID], [Name]) VALUES (1, N'Новая')
INSERT [dbo].[Request_Status] ([ID], [Name]) VALUES (2, N'На рассмотрении')
INSERT [dbo].[Request_Status] ([ID], [Name]) VALUES (3, N'Одобрена')
SET IDENTITY_INSERT [dbo].[Request_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Surname], [Lastname], [Login], [Password], [Creation_date], [Role_ID], [User_Status_ID], [Birth]) VALUES (1, N'Владислав', N'Кузнецов', N'Игоревич', N'Armoryx', N'S+P4YCWsU/f+Kxf7E3Y73ewZlx/us+2B4wTn7zuz0lQ=', CAST(N'2025-03-18T13:12:53.683' AS DateTime), 3, 1, CAST(N'2005-01-20' AS Date))
INSERT [dbo].[User] ([ID], [Name], [Surname], [Lastname], [Login], [Password], [Creation_date], [Role_ID], [User_Status_ID], [Birth]) VALUES (2, N'Андрей', N'Семенов', N'Сергеевич', N'Baton', N'vMcayp3bmqbh7dAHE8kCivJhEwlOvdnkKN7WHqC4DN4=', CAST(N'2025-03-20T13:06:06.273' AS DateTime), 2, 1, CAST(N'1998-06-25' AS Date))
INSERT [dbo].[User] ([ID], [Name], [Surname], [Lastname], [Login], [Password], [Creation_date], [Role_ID], [User_Status_ID], [Birth]) VALUES (1002, N'Максим', N'Максимов', N'Максимович', N'Maks', N'r/9if043/IPP1Tx/xRDYWN5R4M0BvRnHOTO8OKE29RA=', CAST(N'2025-04-01T15:36:24.437' AS DateTime), 1, 1, CAST(N'2000-07-13' AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Role] ON 

INSERT [dbo].[User_Role] ([ID], [Name]) VALUES (1, N'Пользователь')
INSERT [dbo].[User_Role] ([ID], [Name]) VALUES (2, N'Сотрудник')
INSERT [dbo].[User_Role] ([ID], [Name]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[User_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Status] ON 

INSERT [dbo].[User_Status] ([ID], [Name]) VALUES (1, N'Активный')
INSERT [dbo].[User_Status] ([ID], [Name]) VALUES (2, N'Бездействующий')
INSERT [dbo].[User_Status] ([ID], [Name]) VALUES (3, N'Заблокированный')
SET IDENTITY_INSERT [dbo].[User_Status] OFF
GO
ALTER TABLE [dbo].[Change_History]  WITH CHECK ADD  CONSTRAINT [FK_Change_History_Document] FOREIGN KEY([Document_ID])
REFERENCES [dbo].[Document] ([ID])
GO
ALTER TABLE [dbo].[Change_History] CHECK CONSTRAINT [FK_Change_History_Document]
GO
ALTER TABLE [dbo].[Change_History]  WITH CHECK ADD  CONSTRAINT [FK_Change_History_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Change_History] CHECK CONSTRAINT [FK_Change_History_User]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Document_Status] FOREIGN KEY([Status_ID])
REFERENCES [dbo].[Document_Status] ([ID])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Document_Status]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Document_Type] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Document_Type] ([ID])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Document_Type]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Provider] FOREIGN KEY([Provider_ID])
REFERENCES [dbo].[Provider] ([ID])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Provider]
GO
ALTER TABLE [dbo].[Document_Struct]  WITH CHECK ADD  CONSTRAINT [FK_Document_Struct_Document_Type] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Document_Type] ([ID])
GO
ALTER TABLE [dbo].[Document_Struct] CHECK CONSTRAINT [FK_Document_Struct_Document_Type]
GO
ALTER TABLE [dbo].[Load_History]  WITH CHECK ADD  CONSTRAINT [FK_Load_History_Data_Source] FOREIGN KEY([Data_Source_ID])
REFERENCES [dbo].[Data_Source] ([ID])
GO
ALTER TABLE [dbo].[Load_History] CHECK CONSTRAINT [FK_Load_History_Data_Source]
GO
ALTER TABLE [dbo].[Load_History]  WITH CHECK ADD  CONSTRAINT [FK_Load_History_Document] FOREIGN KEY([Document_ID])
REFERENCES [dbo].[Document] ([ID])
GO
ALTER TABLE [dbo].[Load_History] CHECK CONSTRAINT [FK_Load_History_Document]
GO
ALTER TABLE [dbo].[Load_History]  WITH CHECK ADD  CONSTRAINT [FK_Load_History_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Load_History] CHECK CONSTRAINT [FK_Load_History_User]
GO
ALTER TABLE [dbo].[Login_History]  WITH CHECK ADD  CONSTRAINT [FK_Login_History_Login_Status] FOREIGN KEY([Login_Status_ID])
REFERENCES [dbo].[Login_Status] ([ID])
GO
ALTER TABLE [dbo].[Login_History] CHECK CONSTRAINT [FK_Login_History_Login_Status]
GO
ALTER TABLE [dbo].[Login_History]  WITH CHECK ADD  CONSTRAINT [FK_Login_History_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Login_History] CHECK CONSTRAINT [FK_Login_History_User]
GO
ALTER TABLE [dbo].[News_Change_History]  WITH CHECK ADD  CONSTRAINT [FK_News_Change_History_Organisation_News] FOREIGN KEY([News_ID])
REFERENCES [dbo].[Organisation_News] ([ID])
GO
ALTER TABLE [dbo].[News_Change_History] CHECK CONSTRAINT [FK_News_Change_History_Organisation_News]
GO
ALTER TABLE [dbo].[News_Change_History]  WITH CHECK ADD  CONSTRAINT [FK_News_Change_History_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[News_Change_History] CHECK CONSTRAINT [FK_News_Change_History_User]
GO
ALTER TABLE [dbo].[Organisation_News]  WITH CHECK ADD  CONSTRAINT [FK_Organisation_News_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Organisation_News] CHECK CONSTRAINT [FK_Organisation_News_User]
GO
ALTER TABLE [dbo].[Provider]  WITH CHECK ADD  CONSTRAINT [FK_Provider_Organisation_Type] FOREIGN KEY([Organisation_Type_ID])
REFERENCES [dbo].[Organisation_Type] ([ID])
GO
ALTER TABLE [dbo].[Provider] CHECK CONSTRAINT [FK_Provider_Organisation_Type]
GO
ALTER TABLE [dbo].[Provider_Change_Story]  WITH CHECK ADD  CONSTRAINT [FK_Provider_Change_Story_Provider] FOREIGN KEY([Provider_ID])
REFERENCES [dbo].[Provider] ([ID])
GO
ALTER TABLE [dbo].[Provider_Change_Story] CHECK CONSTRAINT [FK_Provider_Change_Story_Provider]
GO
ALTER TABLE [dbo].[Provider_Change_Story]  WITH CHECK ADD  CONSTRAINT [FK_Provider_Change_Story_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Provider_Change_Story] CHECK CONSTRAINT [FK_Provider_Change_Story_User]
GO
ALTER TABLE [dbo].[Registration_Request]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Request_Request_Status] FOREIGN KEY([Request_Status_ID])
REFERENCES [dbo].[Request_Status] ([ID])
GO
ALTER TABLE [dbo].[Registration_Request] CHECK CONSTRAINT [FK_Registration_Request_Request_Status]
GO
ALTER TABLE [dbo].[Registration_Request]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Request_User_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[User_Role] ([ID])
GO
ALTER TABLE [dbo].[Registration_Request] CHECK CONSTRAINT [FK_Registration_Request_User_Role]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_User]
GO
ALTER TABLE [dbo].[Request_Decline]  WITH CHECK ADD  CONSTRAINT [FK_Request_Decline_Registration_Request] FOREIGN KEY([Registration_Request_ID])
REFERENCES [dbo].[Registration_Request] ([ID])
GO
ALTER TABLE [dbo].[Request_Decline] CHECK CONSTRAINT [FK_Request_Decline_Registration_Request]
GO
ALTER TABLE [dbo].[Request_Decline]  WITH CHECK ADD  CONSTRAINT [FK_Request_Decline_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Request_Decline] CHECK CONSTRAINT [FK_Request_Decline_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[User_Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Status] FOREIGN KEY([User_Status_ID])
REFERENCES [dbo].[User_Status] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User_Status]
GO
USE [master]
GO
